[Unit]
Description=Apps Monitor

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=30
ExecStart=/usr/bin/apps-monitor

[Install]
WantedBy=multi-user.target

